/* theme.scss */
:root {
  --main-background: #071c39;
  --background: #f9f7f7;
  --text: #000000;
  --primary: #dbe2ef;
  --secondary: #3f72af;
  --tertiary: #112d4e;
  --accent: #ff7b00;
  --glass: #ff00004f;
}

html.dark {
  --background: #1b262c;
  --text: #f4f4f4;
  --primary: #0f4c75;
  --secondary: #3282b8;
  --tertiary: #bbe1fa;
}
