@use "../utils/mixins" as mx;

.mini-gallery {
  width: 100%;
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  @apply border-b-2 border-text border-opacity-45;

  &-item {
    display: block;
    flex-basis: calc((100% - 24px) / 3);
    border-radius: 15px;
    overflow: hidden;
    img {
      display: block;
      width: 100%;
    }
  }
  @include mx.mq("md", "max") {
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
    &-item {
      flex-basis: 100px;
      width: 300px;
      border-radius: 10px;
    }
    &-item:nth-child(even) {
      align-self: flex-end;
    }
  }
}
