.nav-list {
  display: flex;
  flex-direction: column;

  li {
    font-size: 14px;
    padding: 4px 8px;
    width: 100%;
  }
  li:hover {
    text-decoration: underline;
    background-color: var(--text);
    color: var(--background);
  }

  a {
    display: block;
    width: 100%;
  }
}
